<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=DENIS-PC\SQLEXPRESS;
			 Initial Catalog=Warehouse;Integrated Security=True;Connect Timeout=30;Encrypt=False;
			 TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<!--add name="DefaultConnection" connectionString="Data Source=USER-PC\DEN_SQLEXPRESS;Initial Catalog=Warehouse;
			 User ID=sa;Password=24121985den;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;
			 ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/-->
	</connectionStrings>
</configuration>